body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:beige;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



h2 {
    color: #000000;
    margin-top: 20px;
}

p {
    margin-bottom: 20px;
}

.conclusion {
    background-color: #161616;
    padding: 20px;
    margin-top: 30px;
}